{% extends './base.html' %}
{% load static %}
{% load custom_tags %}


{% block title %}Company profile{% endblock %}
{% block content %}




      <div class="container pt-5">
          <div class="row">
              <div class="col-md-4">
              <span>
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
              </span>
                   
                                              
              <div class="card text-center align-items-center pt-5 pb-5">
              {% if request.user.company.image %}
                <img src="{{request.user.company.image.url}}" alt="" class="profile">
              {% else %}
                <img src="{% static 'img/profile-icon.png' %}" alt="" class="profile">

              {% endif %}
                  
                  <h4 class="pt-2">{{request.user}}</h4>
                  <p>{{request.user.email}}</p>
                  <p>{{request.user.company.phone}}</p>
                  <div>
                  <a href="{% url 'editcompany' %}" class="btn btn-primary"><i class="fa fa-user-edit"></i></a>
                  <a href="{% url 'deleteuser' request.user.id %}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                  </div>
              </div>
          
            
                  

              </div>
              <div class="col-md-8">

                <h2>Employee Reviews </h2>

                {% for item in review %}
                  {% if item.company.user == request.user %}
                    <div class="companies-list">
                        <span class="float-right">{{item.posted_on}}</span>
                        <div class="review-header">
                        {% if item.employee.employee.image %}
                            <img src="{{item.employee.employee.image.url}}" alt="" class="review-user">
                        {% else %}
                            <img src="{% static 'img/profile-icon.png' %}" alt="" class="review-user">
                        {% endif %}
                            <h2 >{{item.employee}} </h2>
                        </div>
                        <p>{{item.post}} </p>
                        <p>Rating - 
                            {% for i in item.rating|times %}
                                <img src="{% static 'img/star.jpg' %}" alt="" class="star-img">
                            {% endfor %}
                            
                        </p>
                      </div>
          
                  {% endif %}
                {% endfor %}
              </div>
          </div>
      </div>

{% endblock %}